Repository WordPress/five-for-the-future, pull requests merged in 2019-10, with the labels that each got.

#23 Plugin: Refactor to use as foundation for planned pledge workflows
  plugins/wporg-5ftf/includes/pledge-form.php
  plugins/wporg-5ftf/includes/pledge-meta.php
  plugins/wporg-5ftf/includes/pledge.php
  plugins/wporg-5ftf/includes/shortcodes.php
  plugins/wporg-5ftf/index.php
  plugins/wporg-5ftf/views/form-pledge-manage.php
  plugins/wporg-5ftf/views/form-pledge-new.php
  plugins/wporg-5ftf/views/front-end.php
  plugins/wporg-5ftf/views/inputs-pledge-contributors.php
  plugins/wporg-5ftf/views/inputs-pledge-new-misc.php
  plugins/wporg-5ftf/views/inputs-pledge-org-email.php
  plugins/wporg-5ftf/views/inputs-pledge-org-info.php
  plugins/wporg-5ftf/views/inputs-pledge-org-logo.php
  plugins/wporg-5ftf/views/metabox-company-information.php
  plugins/wporg-5ftf/views/pledge-form.php
Labels: [Component] Pledge CPT

#19 Remove build files
  .gitignore
  themes/wporg-5ftf/css/style-editor.css
  themes/wporg-5ftf/css/style-rtl.css
  themes/wporg-5ftf/css/style.css
  themes/wporg-5ftf/functions.php
Labels: [Component] Theme, [Status] Needs Review

#35 New Pledge: Validate submitted form values and generate a draft pledge post
  plugins/wporg-5ftf/includes/pledge-form.php
  plugins/wporg-5ftf/includes/pledge-meta.php
  plugins/wporg-5ftf/views/inputs-pledge-contributors.php
  plugins/wporg-5ftf/views/inputs-pledge-new-misc.php
Labels: [Component] Pledge CPT

#42 Add a Contributor custom post type
  plugins/wporg-5ftf/includes/contributor.php
  plugins/wporg-5ftf/includes/pledge-form.php
  plugins/wporg-5ftf/includes/pledge-meta.php
  plugins/wporg-5ftf/includes/pledge.php
  plugins/wporg-5ftf/index.php
  plugins/wporg-5ftf/views/inputs-pledge-contributors.php
Labels: [Component] Pledge CPT

#44 Pledge form: Add a blurb for the "Agree" checkbox
  plugins/wporg-5ftf/views/inputs-pledge-new-misc.php
Labels: [Component] Pledge CPT, [Status] Blocked

#47 Pledges: Move contributor management UI to separate file
  plugins/wporg-5ftf/includes/pledge-meta.php
  plugins/wporg-5ftf/views/form-pledge-manage.php
  plugins/wporg-5ftf/views/inputs-pledge-contributors.php
  plugins/wporg-5ftf/views/manage-contributors.php
Labels: [Component] Pledge CPT

#33 Adds basic support for a pledge list
  phpcs.xml.dist
  plugins/wporg-5ftf/includes/pledge.php
  themes/wporg-5ftf/archive-5ftf_pledge.php
  themes/wporg-5ftf/archive.php
  themes/wporg-5ftf/css/base/_base.scss
  themes/wporg-5ftf/css/base/_select.scss
  themes/wporg-5ftf/css/components/_archive.scss
  themes/wporg-5ftf/css/components/_components.scss
  themes/wporg-5ftf/css/components/_pledge-list.scss
  themes/wporg-5ftf/css/objects/_objects.scss
  themes/wporg-5ftf/css/objects/_pledge.scss
  themes/wporg-5ftf/single.php
  themes/wporg-5ftf/template-parts/content-5ftf_pledge.php
Labels: [Component] Theme, [Status] Needs Review

#52 Pledge: Count number of confirmed contributors instead of using arbitrary number input
  plugins/wporg-5ftf/includes/contributor.php
  plugins/wporg-5ftf/includes/pledge-meta.php
  plugins/wporg-5ftf/views/inputs-pledge-org-info.php
Labels: [Component] Pledge CPT, [Status] Ready to Merge

#45 Create a Pledge: Upload a logo
  plugins/wporg-5ftf/includes/pledge-form.php
  plugins/wporg-5ftf/views/form-pledge-manage.php
  plugins/wporg-5ftf/views/form-pledge-new.php
  plugins/wporg-5ftf/views/inputs-pledge-org-info.php
Labels: [Component] Pledge CPT, [Status] Needs Review

#43 Theme: Single pledge view
  phpcs.xml.dist
  plugins/wporg-5ftf/includes/contributor.php
  plugins/wporg-5ftf/includes/pledge.php
  plugins/wporg-5ftf/includes/xprofile.php
  plugins/wporg-5ftf/index.php
  themes/wporg-5ftf/css/components/_components.scss
  themes/wporg-5ftf/css/components/_entry-content.scss
  themes/wporg-5ftf/css/components/_pledge-contributors.scss
  themes/wporg-5ftf/css/components/_pledge-list.scss
  themes/wporg-5ftf/css/components/_pledge-single.scss
  themes/wporg-5ftf/css/components/_site-content.scss
  themes/wporg-5ftf/css/components/_team-badges.scss
  themes/wporg-5ftf/css/objects/_pledge.scss
  themes/wporg-5ftf/functions.php
  themes/wporg-5ftf/single-5ftf_pledge.php
  themes/wporg-5ftf/single.php
  themes/wporg-5ftf/template-parts/content-5ftf_pledge.php
Labels: [Component] Theme

#54 Plugin: Add a system for logging events related to pledges and contributors
  plugins/wporg-5ftf/includes/contributor.php
  plugins/wporg-5ftf/includes/pledge-form.php
  plugins/wporg-5ftf/includes/pledge-log.php
  plugins/wporg-5ftf/includes/pledge-meta.php
  plugins/wporg-5ftf/index.php
  plugins/wporg-5ftf/views/log.php
Labels: [Component] Pledge CPT, [Type] Enhancement

#64 Update UI and email copy
  plugins/wporg-5ftf/includes/contributor.php
  plugins/wporg-5ftf/includes/pledge-form.php
  plugins/wporg-5ftf/includes/pledge.php
  plugins/wporg-5ftf/views/form-pledge-confirm-email.php
  plugins/wporg-5ftf/views/form-pledge-new.php
Labels: [Component] Pledge CPT
