Repository WordPress/five-for-the-future, pull requests merged in 2019-12, with the labels that each got.

#115 Pledges: Add UI for setting "deactivated" status
  plugins/wporg-5ftf/assets/css/admin.css
  plugins/wporg-5ftf/includes/pledge-meta.php
  plugins/wporg-5ftf/includes/pledge.php
  plugins/wporg-5ftf/views/manage-contributors.php
Labels: [Component] Plugin, [Status] Ready to Merge

#81 Track stats
  plugins/wporg-5ftf/includes/contributor.php
  plugins/wporg-5ftf/includes/stats.php
  plugins/wporg-5ftf/index.php
  plugins/wporg-5ftf/views/list-stats.php
Labels: [Status] Needs Review

#123 Pledge Management: Allow pledge admins to remove the pledge
  plugins/wporg-5ftf/assets/js/admin.js
  plugins/wporg-5ftf/assets/js/dialog.js
  plugins/wporg-5ftf/includes/email.php
  plugins/wporg-5ftf/includes/pledge-form.php
  plugins/wporg-5ftf/includes/pledge-meta.php
  plugins/wporg-5ftf/includes/pledge.php
  plugins/wporg-5ftf/views/form-pledge-manage.php
  plugins/wporg-5ftf/views/form-pledge-remove.php
  themes/wporg-5ftf/css/components/_pledge-single.scss
  themes/wporg-5ftf/css/objects/_pledge-form.scss
  themes/wporg-5ftf/single-5ftf_pledge.php
Labels: [Component] Plugin, [Status] Ready to Merge

#127 My Pledges: Require profile to be filled out before confirming a pledge
  plugins/wporg-5ftf/views/list-my-pledges.php
  plugins/wporg-5ftf/views/single-my-pledge.php
Labels: [Component] Plugin, [Status] Ready to Merge

#128 My Pledges: Add an edit link to take you to your profile
  plugins/wporg-5ftf/views/list-my-pledges.php
Labels: [Component] Plugin, [Status] Ready to Merge

#126 Pledge Management: Add "request link" form to the manage pledge
  plugins/wporg-5ftf/assets/js/dialog.js
  plugins/wporg-5ftf/includes/authentication.php
  plugins/wporg-5ftf/includes/pledge-form.php
  plugins/wporg-5ftf/includes/pledge.php
  plugins/wporg-5ftf/views/form-request-manage-link.php
  plugins/wporg-5ftf/views/modal-request-manage-link.php
  plugins/wporg-5ftf/views/partial-request-manage-link.php
  themes/wporg-5ftf/css/components/_pledge-dialog.scss
Labels: [Component] Plugin, [Status] Ready to Merge

#132 Pledge List: Change list order hourly
  plugins/wporg-5ftf/includes/pledge.php
Labels: [Component] Plugin, [Status] Ready to Merge

#109 Manage Pledge: Notify removed contributors
  plugins/wporg-5ftf/includes/contributor.php
  plugins/wporg-5ftf/includes/email.php
Labels: [Component] Plugin

#133 Pledge List: Add sorting by total contributor count
  plugins/wporg-5ftf/includes/pledge.php
  themes/wporg-5ftf/archive-5ftf_pledge.php
Labels: [Component] Plugin, [Component] Theme, [Status] Needs Review

#138 Manage Pledge: Add more information to the manage link email
  plugins/wporg-5ftf/includes/email.php
Labels: [Component] Plugin, [Status] Ready to Merge
