Repository WordPress/five-for-the-future, pull requests merged in 2019-11, with the labels that each got.

#100 Tests: Update infrastructure & add travis config
  .travis.yml
  bin/install-wp-tests.sh
  composer.json
  composer.lock
  phpunit-watcher.yml.dist
  phpunit.xml.dist
  plugins/wporg-5ftf/composer.json
  plugins/wporg-5ftf/composer.lock
  plugins/wporg-5ftf/includes/pledge-form.php
  plugins/wporg-5ftf/phpunit-watcher.yml.dist
  plugins/wporg-5ftf/tests/bootstrap.php
  plugins/wporg-5ftf/tests/test-email.php
Labels: [Component] Tooling, [Status] Needs Review

#101 Organize email & authentication code
  plugins/wporg-5ftf/includes/authentication.php
  plugins/wporg-5ftf/includes/email.php
  plugins/wporg-5ftf/includes/pledge-form.php
  plugins/wporg-5ftf/includes/pledge-meta.php
  plugins/wporg-5ftf/includes/pledge.php
  plugins/wporg-5ftf/index.php
  plugins/wporg-5ftf/tests/test-auth.php
Labels: [Status] Ready to Merge

#99 Manage a Pledge: Enable adding/removing contributors from wp-admin.
  plugins/wporg-5ftf/assets/css/admin.css
  plugins/wporg-5ftf/assets/js/admin.js
  plugins/wporg-5ftf/includes/contributor.php
  plugins/wporg-5ftf/includes/endpoints.php
  plugins/wporg-5ftf/includes/pledge-form.php
  plugins/wporg-5ftf/includes/pledge-meta.php
  plugins/wporg-5ftf/index.php
  plugins/wporg-5ftf/views/inputs-pledge-contributors.php
  plugins/wporg-5ftf/views/inputs-pledge-org-email.php
  plugins/wporg-5ftf/views/manage-contributors.php
Labels: [Component] Plugin, [Status] Needs Review

#103 Manage Pledge: Move "send mange email" code to ajax endpoint
  plugins/wporg-5ftf/includes/endpoints.php
  plugins/wporg-5ftf/includes/pledge-form.php
Labels: [Component] Plugin

#104 Manage Pledge: Update email dialog to use JS submission
  plugins/wporg-5ftf/assets/js/frontend.js
  plugins/wporg-5ftf/assets/js/inert.js
  plugins/wporg-5ftf/assets/js/inert.min.js
  plugins/wporg-5ftf/includes/endpoints.php
  plugins/wporg-5ftf/includes/pledge-form.php
  plugins/wporg-5ftf/includes/pledge.php
  plugins/wporg-5ftf/views/button-request-manage-link.php
  plugins/wporg-5ftf/views/form-pledge-request-manage-link.php
  plugins/wporg-5ftf/views/modal-request-manage-link.php
  themes/wporg-5ftf/css/components/_components.scss
  themes/wporg-5ftf/css/components/_pledge-dialog.scss
  themes/wporg-5ftf/css/components/_pledge-single.scss
  themes/wporg-5ftf/css/settings/_colors.scss
  themes/wporg-5ftf/single-5ftf_pledge.php
Labels: [Component] Plugin

#111 Add missing empty alt attribute to 404’s logo image
  themes/wporg-5ftf/404.php
Labels: [Component] Theme

#110 Use a unique text-domain, wporg-5ftf
  phpcs.xml.dist
  plugins/wporg-5ftf/includes/contributor.php
  plugins/wporg-5ftf/includes/endpoints.php
  plugins/wporg-5ftf/includes/pledge-form.php
  plugins/wporg-5ftf/includes/pledge-log.php
  plugins/wporg-5ftf/includes/pledge-meta.php
  plugins/wporg-5ftf/includes/pledge.php
  plugins/wporg-5ftf/views/form-pledge-confirm-email.php
  plugins/wporg-5ftf/views/form-pledge-manage.php
  plugins/wporg-5ftf/views/form-pledge-new.php
  plugins/wporg-5ftf/views/inputs-pledge-contributors.php
  plugins/wporg-5ftf/views/inputs-pledge-org-email.php
  plugins/wporg-5ftf/views/inputs-pledge-org-info.php
  plugins/wporg-5ftf/views/manage-contributors.php
  themes/wporg-5ftf/archive-5ftf_pledge.php
  themes/wporg-5ftf/single-5ftf_pledge.php
  themes/wporg-5ftf/template-parts/content-5ftf_pledge.php
Labels: [Component] Plugin

#113 Manage Pledge: Allow pledge admins to change email
  plugins/wporg-5ftf/includes/pledge-form.php
  plugins/wporg-5ftf/includes/pledge-meta.php
  plugins/wporg-5ftf/views/form-pledge-confirm-email.php
  plugins/wporg-5ftf/views/form-pledge-manage.php
  plugins/wporg-5ftf/views/inputs-pledge-org-email.php
  themes/wporg-5ftf/css/objects/_pledge-form.scss
Labels: [Component] Plugin, [Status] Ready to Merge

#117 Log changes to the pledge logo
  plugins/wporg-5ftf/includes/pledge-log.php
Labels: [Component] Plugin, [Status] Needs Review
